<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-g" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Podcast Scraper</title>
    <style>
      body {
        font-family: sans-serif;
        margin: 20px;
      }

      nav {
        margin-bottom: 20px;
      }

      .container {
        max-width: 800px;
        margin: auto;
      }

      form {
        margin-bottom: 20px;
      }

      ul {
        list-style: none;
        padding: 0;
      }

      li {
        background: #f4f4f4;
        margin: 5px 0;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <nav>
        {% if user.is_authenticated %}
          Hola, {{ user.name }}! |
          <a href="{% url 'search' %}">Buscar</a> |
          <a href="{% url 'favorites' %}">Mis Favoritos</a> |
          <a href="{% url 'account_logout' %}">Cerrar Sesión</a>
        {% else %}
          <a href="{% url 'account_login' %}">Iniciar Sesión</a> |
          <a href="{% url 'account_signup' %}">Registrarse</a>
        {% endif %}
      </nav>
      {% block content %}
      {% endblock content %}
    </div>
    {% block page_js %}
    {% endblock page_js %}
  </body>
</html>
